*{
	padding: 0px 0px;
	margin: 0px 0px;
}
body{
	font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,p{
	font-family: 'Poppins', sans-serif;
}
a{
	text-decoration: none;
}
ul{
	padding-left: 0px;
	margin: 0px ;
}
ul li{
	list-style: none;
}
.no-padding{
	padding: 0px 0px;
	margin: 0px 0px;
}
/*header section css start*/
.header-top-bar{
    background: black;
    width: 100%;
    height: 35px;
}
.header-section .navbar-brand img{
    width: 100%;
    height: 50px;
}
.header-section .bg-light {
    background-color: #545453 !important
}
.header-section .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff !important;
}
.header-section .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0px 25px;
    margin-top: 15px;
}
.header-section .navbar-light .navbar-nav .nav-link:hover{
	color: #ffc901;
	cursor: pointer;
	transition: .3s linear;
}
/*banner section css start*/
.banner-section {
    background: url(../images/header-bg.png) left bottom no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 127px;
}
.banner-section .banner-inner {
    width: 100%;
    text-align: right;
    padding: 100px 0px 0px 0px;
}
.banner-section .banner-inner h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
}
.banner-section .banner-inner h2 {
    color: #ffc901;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 35px;
}
.banner-section .banner-inner h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 33px;
    font-weight: 400;
    padding-top: 97px;
}
.banner-section .banner-inner span{
    color: #ffc901;
}
/*banner section css end*/
/*about section css start*/
.about-section{
    width: 100%;
    background: url(../images/about-bg.png) left bottom no-repeat;
    background-size: cover;
}
.about-section .about-inner {
    width: 100%;
    padding: 95px 0px 95px 0px;
}
.about-section .about-inner h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
}
.about-section .about-inner .about-logo {
    margin: 0px 8px;
}
.about-section .about-inner .logo-text {
    width: 14%;
}
.about-section .about-inner p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    padding: 70px 0px;
}
.about-section .about-inner h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}
.about-section .about-inner span{
    color: #ffc901;
}
/*about section css ebd*/
/*Our Food Quality section css start*/
.food-quality-section{
    width: 100%;
    background: url(../images/food-quality-bg.png) left center no-repeat;
    background-size: cover;
}
.food-quality-section .food-quality-inner {
    width: 100%;
    text-align: center;
    padding: 170px 0px 208px 0px;
}
.food-quality-section .food-quality-inner h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
}
.food-quality-section .food-quality-inner p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    padding: 40px 0px;
}
.food-quality-section .food-quality-inner h3 {
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}
.food-quality-section .food-quality-inner h4 {
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}
.food-quality-section .food-quality-inner h5 {
    color: #ffc901;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
/*Our Food Quality section css end*/
/*Gallery section css start*/
.gallery-section {
    width: 100%;
    background: #040503;
    padding-bottom: 45px;
}
.gallery-section .gallery-tilte{
    width: 100%;
    text-align: center;
    padding: 50px 0px;
}
.gallery-section .gallery-tilte h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
}
/*Gallery section css end*/
/*Book Now section css start*/
.book-now-section {
    width: 100%;
    background: #1c1c1c;
    padding: 85px 0px 85px 0px;
}
.book-now-section .book-now-title {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
.book-now-section .book-now-title h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
}
.book-now-section .book-now-title p {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 30px;
}
.book-now-section .book-now-inner{
    width: 100%;
}
.book-now-section .book-now-inner label {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 50px 0px 5px 0px;
}
.book-now-section .book-now-inner input::placeholder{
    color: #fff;
    font-weight: 200;
    font-size: 16px;
}
.book-now-section .book-now-inner input{
    background: transparent;
    border: 1px solid #ffc901;
    color: #fff;
}
.book-now-section .book-now-inner .input-group input{
    background: transparent;
    border: 1px solid #ffc901;
    border-right: none;
}
.book-now-section .book-now-inner span i{
    color: #ffc901;
    background: transparent;
}
.book-now-section .book-now-inner span{
    background: transparent;
    border: 1px solid #ffc901;
    border-left: none;
}
.book-now-section .book-now-btn {
    width: 100%;
    text-align: center;
    padding-top: 60px;
}
.book-now-section .book-now-btn a {
    font-size: 24px;
    text-transform: uppercase;
    padding: 1px 62px;
    font-weight: 400;
    background: #ffc901;
}
.book-now-section .book-now-btn a:hover{
    cursor: pointer;
    transition: .3s linear;
    background: #000000;
    color: #ffc901;
}
/*Book Now section css end*/
/*blank bg section css start*/
.blank-bg-section {
    width: 100%;
    background: url(../images/blank-bg.png) left center no-repeat;
    background-size: cover;
    height: 850px;
}
/*blank bg section css end*/
/*Linda Steward section css start*/
.linda-section{
    width: 100%;
    background: url(../images/linda-bg.png) left center no-repeat;
    background-size: cover;
}
.linda-section .linda-inner {
    width: 100%;
    text-align: center;
    padding: 70px 0px 70px 0px;
}
.linda-section .linda-inner h2 {
    color: #ffc901;
    font-size: 81px;
    line-height: 20px;
}
.linda-section .linda-inner p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 10px;
}
.linda-section .linda-inner h3 {
    color: #ffc901;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
}
/*Linda Steward section css end*/
/*Best Meal section css start*/
.best-meal-section{
    width: 100%;
    background: url(../images/best-meal-bg.png) left center no-repeat;
    background-size: cover;
}
.best-meal-section .best-meal-inner {
    width: 100%;
    text-align: center;
    padding: 115px 0px 105px 0px;
}
.best-meal-section .best-meal-inner h2 {
    color: #ffc901;
    font-size: 34px;
    font-weight: 300;
    padding-bottom: 25px;
}
.best-meal-section .best-meal-inner p {
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    line-height: 33px;
    padding-bottom: 25px;
}
.best-meal-section .best-meal-inner h3 {
    color: #ffc901;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}
.best-meal-section .bdr {
    border-color: #ffc901;
    border-style: dotted;
    border-block-start-width: inherit;
}
/*Best Meal section css end*/
/*footer section css start*/
.footer-section{
    width: 100%;
    background: #1c1c1c;
}
.footer-section .footer-inner {
    width: 100%;
    text-align: center;
    padding: 80px 0px;
}
.footer-section .footer-inner .footer-text{
    width: 100%;
    padding: 30px 0px;
}
.footer-section .footer-inner .footer-text ul li {
    display: inline;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 0px 20px;
    font-weight: 300;
}
.footer-section .footer-inner .footer-icon ul li{
    display: inline;
}
.footer-section .footer-inner .footer-icon ul li a i {
    color: #1c1c1c;
    background: #fff;
    font-size: 18px;
    padding: 7px 9px;
    border: 1px solid #fff;
    border-radius: 50px;
    margin: 0px 4px;
}
.footer-section .footer-inner .footer-icon ul li a i:hover {
    color: #4109ec;
    background: #ffc901;
    border: 1px solid #ffc901;
    cursor: pointer;
    transition: .3s linear;
}
/*footer section css end*/







